[package]
name = "zcashconsensus"
version = "0.1.0"
authors = ["Tamas Blummer <tamas.blummer@gmail.com>", "Zcash Foundation <zebra@zfnd.org>"]
license = "Apache-2.0"
readme = "README.md"
build = "build.rs"
edition = "2018"
include = [
    ".github/workflows/ci.yml",
    ".gitignore",
    ".gitmodules",
    "Cargo.toml",
    "Cargo.toml.orig",
    "LICENSE",
    "README.md",
    "build.rs",
    "depend/check_uint128_t.c",
    "src/blake2b.rs",
    "src/lib.rs",
    "zcash/src/script/zcashconsensus.h"
]


[lib]
name = "zcashconsensus"
path = "src/lib.rs"

[features]
external-secp = []

[dependencies]
libc="0.2"
blake2b_simd = "0.5.10"

[build-dependencies]
cc = ">= 1.0.36, <= 1.0.41"
color-eyre = "0.5.0"
bindgen = "0.54.1"

[dev-dependencies]
rustc-serialize = "0.3"
hex = "0.4.2"
lazy_static = "1.4.0"
