[package]
name = "zcash_script"
version = "0.1.2-alpha.0"
authors = ["Tamas Blummer <tamas.blummer@gmail.com>", "Zcash Foundation <zebra@zfnd.org>"]
license = "Apache-2.0"
readme = "README.md"
build = "build.rs"
edition = "2018"
description = "ffi bindings to zcashd's zcash_script library"
documentation = "https://docs.rs/zcash_script"
repository = "https://github.com/ZcashFoundation/zcash_script"
include = [
    "/.github/workflows/ci.yml",
    "/.gitignore",
    "/.gitmodules",
    "Cargo.toml",
    "Cargo.toml.orig",
    "/LICENSE",
    "/README.md",
    "build.rs",
    "depend/check_uint128_t.c",
    "src/blake2b.rs",
    "src/lib.rs",
    "/depend/zcash/src/script/zcash_script.h",
    "/depend/zcash/src/script/zcash_script.cpp",
    "/depend/zcash/src/utilstrencodings.cpp",
    "/depend/zcash/src/uint256.cpp",
    "/depend/zcash/src/pubkey.cpp",
    "/depend/zcash/src/hash.cpp",
    "/depend/zcash/src/primitives/transaction.cpp",
    "/depend/zcash/src/crypto/ripemd160.cpp",
    "/depend/zcash/src/crypto/sha1.cpp",
    "/depend/zcash/src/crypto/sha256.cpp",
    "/depend/zcash/src/crypto/sha512.cpp",
    "/depend/zcash/src/crypto/hmac_sha512.cpp",
    "/depend/zcash/src/script/interpreter.cpp",
    "/depend/zcash/src/script/script.cpp",
    "/depend/zcash/src/script/script_error.cpp",
    "/depend/zcash/src",
    "/depend/zcash/src/rust/include/",
    "/depend/zcash/src/secp256k1/include",
    "/depend/zcash/src/secp256k1",
]

[lib]
name = "zcash_script"
path = "src/lib.rs"

[features]
external-secp = []

[dependencies]
libc="0.2"
blake2b_simd = "0.5.10"

[build-dependencies]
cc = { version = ">= 1.0.36, <= 1.0.41", features = ["parallel"] }
color-eyre = "0.5.0"
bindgen = "0.55"

[dev-dependencies]
rustc-serialize = "0.3"
hex = "0.4.2"
lazy_static = "1.4.0"

[[package.metadata.release.pre-release-replacements]]
file = "CHANGELOG.md"
search = "Unreleased"
replace="{{version}}"

[[package.metadata.release.pre-release-replacements]]
file = "src/lib.rs"
search = "#!\\[doc\\(html_root_url.*"
replace = "#![doc(html_root_url = \"https://docs.rs/{{crate_name}}/{{version}}\")]"
exactly = 1

[[package.metadata.release.pre-release-replacements]]
file = "CHANGELOG.md"
search = "\\.\\.\\.HEAD"
replace="...{{tag_name}}"
exactly = 1

[[package.metadata.release.pre-release-replacements]]
file = "CHANGELOG.md"
search = "ReleaseDate"
replace="{{date}}"

[[package.metadata.release.pre-release-replacements]]
file="CHANGELOG.md"
search="<!-- next-header -->"
replace="<!-- next-header -->\n\n## [Unreleased] - ReleaseDate"
exactly=1

[[package.metadata.release.pre-release-replacements]]
file="CHANGELOG.md"
search="<!-- next-url -->"
replace="<!-- next-url -->\n[Unreleased]: https://github.com/ZcashFoundation/{{crate_name}}/compare/{{tag_name}}...HEAD"
exactly=1
